doctype html
html(lang="es-mx")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
	title Sietema Solar
	link(rel="stylesheet", href="css/styles.css")
body
	main.Manin-section
		h1.Main-title Sistema Solar
		nav.Nav
			ul.Nav-list
				li.Nav-listItem
					a(href="") Mercurio
				li.Nav-listItem
					a(href="") Venus
				li.Nav-listItem
					a(href="") Tierra
				li.Nav-listItem
					a(href="") Marte
				li.Nav-listItem
					a(href="") Jupiter
				li.Nav-listItem
					a(href="") Saturno
				li.Nav-listItem
					a(href="") Urano
				li.Nav-listItem
					a(href="") Neptuno

		.mercury-orbit 
			.mercury
		.venus-orbit 
			.venus
		.earth-orbit 
			.earth
		.mars-orbit 
			.mars
		.jupiter-orbit 
			.jupiter
		.saturn-orbit 
			.saturn
		.uranus-orbit 
			.uranus
		.neptune-orbit 
			.neptune